<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
        <h2 class="border-bottom py-2" th:text="${question.title}"></h2>
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${question.content}"></div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-0 text-start">
                        <div th:text="${#temporals.format(question.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                </div>
                <div class="my-3">
                    <a th:href="@{|/qbp/question/edit/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                       th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/qbp/question/delete/${question.id}|}"
                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
        <h5 class="border-bottom my-3 py-2"
            th:text="|${#lists.size(question.answers)}개의 답변이 있습니다.|"></h5>
        <div class="card my-3 w-75 overflow-auto" th:each="answer : ${question.answers}">
            <div class="card-body" >
                <div class="mb-3">
                    <span class="fs-6 fw-bold me-2" th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                    <span class="fs-6 fw-light float-end" th:text="${#temporals.format(answer.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                </div>
                <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
                <div class="my-3">
                    <a th:href="@{|/qbp/answer/edit/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                       th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/qbp/answer/delete/${answer.id}|}"
                       class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                       th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                       th:text="삭제"></a>
                </div>
            </div>
        </div>
        <form th:action="@{|/qbp/answer/${question.id}|}" sec:authorize="isAuthenticated()" th:object="${answerForm}" method="post" class="my-3 w-75">
            <textarea name="content" th:field="*{content}" th:errorclass="field-error" id="content" rows="5" class="form-control h-25"></textarea>
            <div th:if="${#fields.hasErrors('content')}" th:errorclass="field-error" th:errors="*{content}">
                본문 오류
            </div>
            <input type="submit" value="답변등록" class="float-end btn btn-info btn-sm my-2">
        </form>
    </div>
    <script layout:fragment="script" type='text/javascript'>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>
</html>